/* styles.css */

*/{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;

}


body {
    background-color: #f0f0f0;

}

header {
    background-color: hwb(234 0% 85%);;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.slider-box{
    width: 700px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;

}

.slider-box ul {
display: flex;
padding: 0;
width: 400%;
animation: slide 60s infinite alternate ease-in-out;
}

.slider-box li {
    width: 100%;
    list-style: none;
    position: relative;
}




.slider-box img{
    width: 700px;
    position: center;
}

@keyframes slide {
    0% { margin-left: 0;}
    20% { margin-left: 0%;}
    25% { margin-left: -100%;}
    45% { margin-left: -100%;}
    50% { margin-left: -200%;}
    70% { margin-left: -200%;}
    75% { margin-left: -300%;}
    100% { margin-left: -300%;}
}

@media(max-width:991px) {

body{
    padding: 80px;
}

    .slider-box{
        width: 100px;
    }

    .texto{
        top: 50px;
        padding: 0;  

    }

    .texto h2{
        font-size: 35px;
        margin-bottom: 15px;
    }

    .texto p{
        font-size: 15px;
    }
}

footer {
    text-align: center;
    padding: 10px;
    background-color: hwb(234 0% 85%);
    color: #fff;
}

